.main{
	padding: 0px;
	margin:0px;
	display:block;
	
	
}
.container{
	background: #e7e7e7;
	width: 1140px;
	margin:0px auto;
	height: 600px;
}
.sub-box{
	float: left;
	width: 30%;
	height: 200px;
	text-align:center;
	color: white;
	font-size: 2rem;
	font-weight: 700;
	line-height: 9rem;
}
.button-container{
	width: 20%;
	float:right;
}
.box{
	width: 80%;
	float:left;
}
.color-1{background-color : #000000}
.color-2{background-color : #2B8EAD}
.color-3{background-color : #333333}
.color-4{background-color : #FFFFFF}
.color-5{background-color : #EFEFEF}
.color-6{background-color : #72C3DC}
.color-7{background-color : #6F98A8}
.color-8{background-color : #BFBFBF}
.color-9{background-color : #2F454E}

.button{
	color: white;
    background-color: 72C3DC;
    border: none;
    width: 6rem;
    padding: 1rem;
    border-radius: 8px;
}


@media only screen and (max-width: 425px) {
 
 .container{
	background: #e7e7e7;
	width: 100%;
	margin:0px auto;
	height: 400px;
	
 }

 .button-container{
	    width: 44%;
		float: none;
		margin: 0px auto;
		margin-bottom: 2rem;
 }
 
 .button{
	color: white;
    background-color: 72C3DC;
    border: none;
    width: 4rem;
    padding: 1rem;
    border-radius: 8px;
}
 
 .box{
	width: 100%;
	float:none;
 }
 
 .box div{
	 border-right: 1px solid white;
	 border-top: 1px solid white;
	 border-bottom: 1px solid white;
 }
 
 .sub-box{
	width: 94%;
    height: 30px;
    background-color: #e7e7e7;
    border-left: 1rem solid;
    color: black;
    line-height: 2rem;
    font-size: 18px;
    font-weight: 900;
	
 }
 
	.color-1{border-color : #000000}
	.color-2{border-color : #2B8EAD}
	.color-3{border-color : #333333}
	.color-4{border-color : #FFFFFF}
	.color-5{border-color : #EFEFEF}
	.color-6{border-color : #72C3DC}
	.color-7{border-color : #6F98A8}
	.color-8{border-color : #BFBFBF}
	.color-9{border-color : #2F454E}
}



